<%= form_for current_user do |f| %>
  <%= f.fields_for :attachment do |ff| %>
    <div class="field">
      <%= ff.file_field :file %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>