/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
    background: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.header {
  margin-top: 20px;
}

/* FORM PAGES */
.form {
    font-size: 16px;
    margin: 0 auto 10px;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 300px;
}

input[type=text],
input[type=email],
input[type=password] {
    border-radius: 0px;
    border: 1px solid #E6E6E6;
    color: #666666;
    height: 60px;
    margin: 6px auto;
    text-indent: 10px;
    width: 100%;
}

.btn-submit {
    background: #c91717;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    margin-top: 6px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.field,
.actions {
    margin-bottom: 10px;
}

a {
    color: #000;
    &:visited {
        color: #666;
    }
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.flash_notice,
.flash_alert,
.flash_error {
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.flash_notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.flash_alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.flash_error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
